.media-body small, .list-group-item small {
    margin-right: 10em;
}

#jobInfo p {
    display: inline;
    margin-right: 5em;
}

#search .form-group {
  display: inline;
}

#search label {
  font-size:1.2em;
}

a.list-group-item:hover {
  background: #e1fbff;
}

.card-body div.initial {
  border-radius:50%;
  background:teal;
  width:40px;
  line-height:40px;
  color:#fff;
  text-align:right;
  font-size:24px;
  font-weight:200;
}

.card-body .media-body {
  padding-left: 20px;
}

.card .footer {
  padding-left:10px;
  padding-bottom: 30px;
  font-size: 15px;
  color: turquoise;
  cursor: pointer;
}

.card .footer a:hover {
  text-decoration: none;
  color: #32b9f8;
}

// Dashboard Tabs design
.tab-wrap label, .tab-wrap p, .tab-wrap a, .tab-wrap h1, .tab-wrap div {
  font-family: Roboto, sans-serif;
}

.tab-wrap {
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content label {
  color: black;
}
input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
  display: block;
}
input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  left: calc((100% / 4) * 0);
}
input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  left: calc((100% / 4) * 1);
}
input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
  left: calc((100% / 4) * 2);
}
input[type="radio"][name="tabs"]:nth-of-type(4):checked ~ .slide {
  left: calc((100% / 4) * 3);
}
input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
  left: 0;
}

//User Dashboard Input Design
#users-tab input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  left: calc((100% / 2) * 0);
}
#users-tab input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  left: calc((100% / 2) * 1);
}
#users-tab input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
  left: 0;
}

.tab-wrap label {
  cursor: pointer;
  color: #ada9a9cc;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: #32b9f8;
  width: calc(100%/4);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

//User Dashboard Slide Design
#users-tab .slide {
  background: #32b9f8;
  width: calc(100%/2);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
}
.tab-label-content .tab-content {
  background-color: white;
  position: absolute;
  //top: 100px;
  left: 16px;
  line-height: 130%;
  display: none;
}

.tab-content {
    width: 100%;
    margin-left: -1.1em;
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
  }
}

/*************
*Inbox Design
**************/
#messages-content .hd {
  border-top: .9em solid #f5f8fa;
}

#messages-content .action_bar {
  background: #fff;
  margin-bottom: 20px;
  transition: .5s;
  border: 0;
  border-radius: .1875rem;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: none;
}

.inbox .action_bar .btn,
.inbox .action_bar .search {
  margin: 0;
}

.table-email tr:first-child td {
  border-top: none;
}
.table-email tr td {
  vertical-align: top !important;
  border-bottom: 1px solid #d4d4d4;
  height: 2em;
}

.table-email tr.unread, .table-email tr.selected {
  border-left: .3em solid #32b9f8;
}

.table-email tr.read {
  background: #fafafa;
}

.table-email .unread p.text-primary, .table-email .unread p.subject {
  color: #333;
  font-weight: 700;
}

.table-email .media {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.table-email .media p.text-primary {
  margin: 0px;
  font-size: 16px;
  line-height: normal;
}
.table-email .media-object {
  width: 35px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.table-email .media-meta {
  top: 0px;
}

.table-email .email-summary {
  margin: 0px 110px 0px 0px;
  height: 20px;
  overflow: hidden;
}
.table-email .email-summary strong {
  color: #333;
}
.table-email .email-summary span {
  line-height: 1;
}
.table-email .email-summary span.label {
  padding: 1px 5px 2px;
}
.table-email .ckbox {
  line-height: 0px;
  margin-left: 8px;
}

.table-email a {
  color: #555;
  font-weight: normal;
}

.table-email a:hover,
.table-email .media-heading a:focus {
  text-decoration: none;
}

.table-email time {
  font-size: 13px;
  margin-right: 10px;
}

// .inbox .container-fluid {
//   // display: none;
// }

.inbox .mail {
  display: none;
}